<nav class="navbar navbar-inverse navbar-yellow" role="navigation" ng-controller='navbarController as vm'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="assets/img/logo.png" class='navbar-icon'/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" ng-show='vm.isLogged'>
                    <a href="#/">Todos</a>
                </li>
                <li ng-show='vm.isLogged'>
                    <a href="" ng-click='vm.logout()'>Logout</a>
                </li>
                <li class='active' ng-hide='vm.isLogged'>
                    <a href="#/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
