<nav class="navbar navbar-dark bg-primary" ng-if="token">
    <a class="navbar-brand" href="#" ng-class="{selected: activetab=='/'}">Home</a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item" ng-class="{active: activetab=='/about'}">
            <a href="#/about">
                <i class="fa fa-info-circle"></i>
                About</a>
        </li>
        <li class="nav-item dropdown" ng-if="token">
            <a href="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="http://jbehuet.github.io/assets/images/profil.png" alt="" class="circle">
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
                <a href="#/admin" class="dropdown-item" ng-if="user.isAdmin">
                    <i class="fa fa-gear"></i>
                    Administration</a>
                <a href="#/" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    Logout</a>
            </div>
        </li>
    </ul>
</nav>
